@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AHR.Models.Income
@using Microsoft.AspNetCore.Http;

<script>
    $(document).ready(function () {
        if (window.File && window.FileList && window.FileReader) {
            $("#files").on("change", function (e) {
                
                var files = e.target.files,
                    filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {
                        var file = e.target;
                        $("<span class=\"pip\">" +
                            "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                            "<br/><span class=\"remove\">Remove image</span>" +
                            "</span>").insertAfter("#files");
                        $(".remove").click(function () {
                            $(this).parent(".pip").remove();
                            
                        });
                    });
                    fileReader.readAsDataURL(f);
                }
            });
        } else {
            alert("Your browser doesn't support to File API")
        }
    });
</script>

<div class="row  justify-content-center align-items-center mt-5">
    <div class="col-sm-12 col-md-8 col-lg-5 col-xl-4">

        <div class="card border-success">
            <div class="card-header text-center  text-white bg-success ">
                <h4 class="text-white"><b>INCOME DETAILS</b></h4>
            </div>

            <form method="post" asp-controller="Admin" asp-action="Income" enctype="multipart/form-data">

                <div class="m-3">
                    <label class="form-label">Donor Email</label>
                    <select asp-for="DonorEmail" asp-items="@(new SelectList(ViewBag.email))" class="form-select border-success" id="=donorselect">
                        <option value="none" selected disabled hidden>
                            -- Select Email --
                        </option>
                    </select>

                    <b> <spanclass class="text-danger">@TempData["error_user"] </ span ></b>
                    <b> <span asp-validation-for="DonorEmail" class="text-danger mt-1"></span></b>
                </div>

                <div class="m-3">
                    <label class="form-label">Payment Date</label>

                    <input id="cusdate" type="date" class="form-control border-success" max="@DateTime.Now.ToString("DD-MMM-YY")" asp-for="PaymentDate" asp-format="{0:MM}" data-date="" data-date-format="DD-MMM-YY">
                    <b> <span asp-validation-for="PaymentDate" class="text-danger mt-1"></span></b>
                </div>

                <div class="m-3">
                    <label class="form-label">Payment Amount</label>
                    <input type="text" step="0.01" class="form-control border-success" placeholder="Payment Amount" asp-for="PaymentAmount">
                    <b> <span asp-validation-for="PaymentAmount" class="text-danger mt-1"></span></b>
                </div>

                <div class="m-3">
                    <label class="form-label">Payment Method</label>
                    <select asp-for="PaymentMethod" asp-items="@(new SelectList(ViewBag.message))" class="form-select border-success">
                        <option value="none" selected disabled hidden>
                            -- Select Payment Method --
                        </option>
                    </select>

                    <b> <span asp-validation-for="PaymentMethod" class="text-danger mt-1"></span></b>
                </div>


                <div class="m-3">
                    <label class="form-label">Upload Income Proof</label>
                    <input id="files" name="files[]" class="form-control border-success" onchange="myFun()" accept="image/*" asp-for="Imagefile" multiple">
                </div>


                <div class="m-3">
                    <b> <spanclass class="text-danger">@TempData["Error"] </ span ></b>
                </div>

                <div class="row m-3">
                    <div class="col-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-success btn-group-lg"> SUBMIT </button>
                    </div>
                    <!-- /.col -->
                </div>

                <div class="m-3">

                    @if (!String.IsNullOrEmpty(Convert.ToString(@TempData["Success"])))
                    {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>
                            @TempData["Success"]
                        </strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    }



                </div>
            </form>
        </div>
    </div>
</div>